.inputWrapper {
    position: relative;

    .floatingLabel {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: var(--medium-indent);
        font-size: var(--font-size-body);
        pointer-events: none;
        transition: all 0.3s ease;
        color: rgb(119, 119, 119);
    }

    .Input {
        display: block;
        border-style: solid;
        border-width: 1px;
        border-radius: var(--medium-round);
        height: 100%;
        width: 100%;
        padding: var(--medium-indent) var(--medium-indent) 0;

        &:disabled {
            background-color: var(--light-gray-bg-color);
            cursor: wait;
        }

        &:not(:placeholder-shown) + .floatingLabel,
        &:focus + .floatingLabel {
            top: 0;
            transform: translateY(50%);
            left: var(--medium-indent);
            font-size: 12px;
        }
    }
}
