.Button {
    background-color: var(--blue-color);
    padding: var(--small-indent) var(--medium-indent);
    border: none;
    color: #fff;
    border-radius: var(--medium-round);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #005bb5;
    }

    &:disabled {
        background-color: var(--mid-gray-bg-color);
    }
}
